<h1><%= foodtruck.name %></h1>
<h2>log will be here eventually</h2>
<button>webite</button><button>menu</button>



  <form>
    <input type="text" name="comment">
  </form>

<img src="http://djshinski.com/images/logo4.png">

